# add git-ignore syntax here of things you don't want copied into docker image

.DS_Store
.git
.gitignore
.idea
packages/*/node_modules
*docker-compose*
*Dockerfile*
build
generated-themes
lib
log/*
node_modules
tmp
